
<!--[ngClass]="{ 'hidden': !initializing, 'show': initializing}"-->
    <div *ngIf="initializing" style="position:absolute;top:50%;left:50%; transform: translate(-50%,-50%); text-align:center;color:black">
        <h3>initialiseren even geduld...</h3>
        <ng-template tdLoading [tdLoadingUntil]="!initializing"  tdLoading="appStartLoadingBar" tdLoadingType="linear" tdLoadingMode="indeterminate" tdLoadingStrategy="replace" tdLoadingColor="primary">
        </ng-template>
    </div>


<div *ngIf="!initializing">
    <router-outlet></router-outlet>
</div>

