<page-template-td-nav-layout [pageTitle]="pageTitle"> <!-- [hidden]="!allDataLoaded"-->
    <mat-card>
        <mat-card-header>
            <mat-card-title>Title</mat-card-title>
            <mat-card-subtitle>Subtitle</mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content>
            Text content
        </mat-card-content>
        <mat-card-actions align="start">
        
            
        </mat-card-actions>
        <mat-card-footer>
            Footer
        </mat-card-footer>
    </mat-card>
  </page-template-td-nav-layout>